{% extends "base.html" %}

{% block content %}
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
    }
    main {
      width: 80%;
      margin: auto;
      padding: 20px;
      background-color: white;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }
    h1 {
      color: #333;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      margin-bottom: 20px;
    }
    h2 {
      color: #666;
    }
    h2 a {
      color: #666;
      text-decoration: none;
    }
    img {
      width: 100%;
      height: auto;
    }
  </style>

  <main>
    <h1>Cities</h1>
    <ul>
      {% for city in cities %}
        <li>
          <h2><a href="{% url 'city:city-detail' slug=city.slug %}">{{ city.name }}</a></h2>
          <p>Ref Country: {{ city.ref_country }}</p>
          <img src="{{ city.flag }}" alt="{{ city.name }} flag">
          <p>Created at: {{ city.created_at }}</p>
          <p>Updated at: {{ city.updated_at }}</p>
          <p>Created by: {{ city.created_by }}</p>
        </li>
      {% endfor %}
    </ul>
  </main>
{% endblock %}