{% extends "base.html" %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
            text-align: center;
            font-size: 2em;
        }
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        li {
            border: 1px solid #ddd;
            margin-bottom: 10px;
            padding: 10px;
            flex-basis: calc(33% - 20px);
            box-sizing: border-box;
            margin: 10px;
        }
        img {
            display: block;
            max-width: 500px;
            height: auto;
            margin: 0 auto;
        }
        h2 {
            text-align: center;
            color: #666;
        }
    </style>
    <main>
        <h1>Countries</h1>
        <a href="{% url 'country:country-add' %}">
            <button>Add country</button>
        </a>
      
        <ul>
          {% for country in countries %}
            <li>
              <h2><a href="{% url 'country:country-detail' slug=country.slug %}">{{ country.name }}</a></h2>
              {% if country.flag %}  <!-- Check if a flag has been uploaded -->
              <img src="{{ country.flag.url }}" alt="{{ country.name }} flag">
            {% endif %}
              <p>Created at: {{ country.created_at }}</p>
              <p>Updated at: {{ country.updated_at }}</p>
              <p>Created by: {{ country.created_by }}</p>
            </li>
          {% endfor %}
        </ul>
      </main>
{% endblock %}