<footer class="header footer">
  
    

    <nav class="navbar">
        <a  class="{% if request.path == '/home/'   %} active  {% endif %}" href= "{% url 'Home' %}">home</a>
        <a  class= "{% if request.path == '/city/'   %} active  {% endif %}" href="{% url 'city' %}">city</a>
        <a  class= "{% if request.path == '/country/'   %} active  {% endif %}" href="{% url 'country' %}">country</a>
        
    </nav>
    
</footer>

<script src="../static/js/index.js"></script>
</body>
</html>